/*
Common styles
*/

main {
    min-height: calc(100% - 200px);  // header height + footer height + margin-top footer
}

a {
    @include transition(color 150ms linear);
}
a:hover {
    text-decoration: none;
}

.highlighted {
    font-weight: bold;
}
