/*
Common styles
*/

.highlighted {
    font-weight: 700;
}

.jumbotron-header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 1.5rem;
    margin-top: -1rem;
    background-color: #f8f9fa;

    p {
        margin-bottom: 0;
    }

    &.jumbotron-header-tabs {
        padding-top: 2rem;
        padding-bottom: 3rem;

        .nav-tabs {
            margin-top: 1.5rem;
            margin-bottom: -3rem;
        }
    }
}

.header-action {
    & h1, & h2, & h3, & h4, & h5, & h6 {
        margin: 0;
    }
}
