
.view-homepage {
  main {
    min-height: calc(100vh - 204px);  // header height + footer height + margin-top footer
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.99px) {
  .view-homepage {
    .display-3 {
      font-size: 2.5rem;
    }

    .lead {
      font-size: 1rem;
    }
  }
}
