/*
Login Styles
*/

body.login {

    .socialaccount-provider.github {
        background-color: #24292e;
        border-color: #24292e;

        &:hover {
            background-color: #0e1011;
        }
    }
    .socialaccount-provider.gitlab {
        background-color: #611b89;
        border-color: #611b89;

        &:hover {
            background-color: #43135e;
        }
    }
    .socialaccount-provider.google {
        background-color: #d34836;
        border-color: #d34836;

        &:hover {
            background-color: #b03626;
        }
    }

    .rule-text {
        position: relative;
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;

        hr {
            margin: 0;
        }
        span {
            padding: 0 10px;
            position: absolute;
            top: -17px;
            left: 50%;
            margin-left: -15px;
        }
    }

    input[name="login"] {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }
    input[name="password"] {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
