/*
Resets
 - Reset Styles / Default styles (only for tags)
*/

html, body {
    min-height: 100%;
}
h4 {
    margin-bottom: 1rem;
}
label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: .3rem;
}
