// Header

.navbar {
  .navbar-nav .nav-link {
    padding: .6rem 1rem .40rem;

    &.active {
      font-weight: 600;
    }
  }

  .form-search {
    position: relative;
  }

  .form-control {
    @include transition(background-color ease-in-out 150ms, width ease-in-out 150ms);
    background-color: rgba(255, 255, 255, .2);
    border-color: transparent;
    color: #fff;
    width: 20rem;

    @include placeholder {
      color: rgba(255, 255, 255, .8);
    }

    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, .3);
    }

    &:focus {
      width: 25rem;
    }
  }

  .search-icon {
    color: #fff;
    margin-top: -12px;
    opacity: .8;
    position: absolute;
    right: 20px;
    top: 50%;
  }

  .btn-outline-light:hover {
    color: #007bff;
  }

  .dropdown-profile .dropdown-menu {
    font-size: 90%;
  }
}
